
  .land{
    background-image:url("../images/road3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height:95vh;
    text-align: center;
    color: aliceblue;
    }
    .landoverlay{
    background-color:transparent;
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgba(16, 173, 126, 0.829);
      }
      nav{
        position:fixed;
        /* float: right; */
        padding-left: 70%;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:rgb(24, 133, 148);
      }
      #form{
        align-content: center;
      }
=======

 th, td {
    border-bottom: 1px solid #ddd;
  }
  table{
      text-align: center;
  }
  
#about-us {
    text-align: center;
}

body {
    font-family: "Dancing Script";
    font-size: 25px;
}

